@model IEnumerable<SistemaWebEmpleado.Models.Empleado>


@{
    ViewData["Title"] = "Index";
}
@section SideBar{
     <h2>Administración de empleados</h2>
}

    @Html.ActionLink("Nuevo","Insertar","Empleado")
    <table>
        <tr>
            <th>@Html.DisplayNameFor(model=>model.Nombre)</th>
            <th>@Html.DisplayNameFor(model=>model.Apellido)</th>
            <th>@Html.DisplayNameFor(model=>model.Titulo)</th>
            <th>@Html.DisplayNameFor(model=>model.Legajo)</th>
            <th>@Html.DisplayNameFor(model=>model.FechaNacimiento)</th>
            <th></th>
        </tr>
        @foreach (var item in Model)
        {
                    <tr>
                        <td>
                    @Html.DisplayFor(modelItem=>item.Nombre)
                        </td>
                        <td>
                    @Html.DisplayFor(modelItem=>item.Apellido)
                        </td> 
                        <td>
                    @Html.ActionLink(item.Titulo,"TraerTitulos","Empleado",new{titulo=item.Titulo })
                        </td> 
                        <td>
                    @Html.DisplayFor(modelItem=>item.Legajo)
                        </td> 
                        <td>
                    @Html.DisplayFor(modelItem=>item.FechaNacimiento)
                        </td> 
                        <td>
                    @Html.ActionLink("Detalle","Details","Empleado",new{id=item.Id })
                    @Html.ActionLink("Eliminar","Delete","Empleado",new{id=item.Id })
                    @Html.ActionLink("Editar", "Edit", "Empleado", new{id=item.Id })
                        </td>
                    </tr>
        }
    </table>

